ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .menu-trigger img{
    position: absolute;
    top: 10px;
    right: 80px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 58px;
    right: 42px;
    background-color: #d8d7d7;
    border-radius: var(--border-radius);
    padding: 10px;
    width: 200px;
    height: 330px;
    z-index: 3;
  }
  
  .dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 45px;
    height: 20px;
    width: 20px;
    background-color: #d8d7d7;
    /* background: var(--secondary-bg); */
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20);
    transition: 100ms ease;
  }
  
  .upperdiv {
    display: flex;
    align-items: center;
  }
  
  .profile-img{
    padding-top: 12px;
    height: 80px;
    width: 80px;
    /* border-radius: 50%; */
  }
  
  h3 {
    width: 100%;
    /* text-align: center; */
    padding-left: 10px;
    font-size: 18px;
    /* padding-bottom: 20px; */
    padding-top: 10px;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span {
    font-size: 14px;
  }
  
  .dropdown-menu ul li {
    padding: 3px 0;
  }
  
  .dropdown-menu ul li:hover a{
    cursor: pointer;
    color: rgb(62, 145, 212);
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem {
    display: flex;
    margin: 10px;
  }
  
  .dropdownItem:hover {
    background-color: #b8b5b5;
    /* color: white; */
    border-radius: 5px;
  }
  
  .dropdownItem img {
    max-width: 40px;
    /* margin-right: 10px; */
    opacity: 0.8;
    transition: var(--speed);
    margin-left: 0px;
  }
  
  .dropdownItem a {
    max-width: 150px;
    margin-left: 8px;
    margin-top: 7px;
    transition: var(--speed);
  }